<li class="">
  <%= link_to 'ホーム', root_path %>
</li>

<li class="">
  <%= link_to 'アバウト', home_about_path %>
</li>

<li class="">
  <%= link_to '新規登録', new_user_registration_path %>
</li>

<li class="">
  <%= link_to 'ログイン', new_session_path(User) %>
</li>